<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>NEW WAY!!!</h1>
    <form action="">
        <div>
            <label for="" >JOB:</label><select name=""  id="">
                <option value=""></option>
                <option value="">HOME APPLIANCES</option>
                <option value="">ELECTRICAL</option>
                <option value="">PLUMBING</option>
                <option value="">VEHICLES</option>
            </select>
            <br>
            <br>
            <label for="">EXPERIENCE:</label><input type="number" placeholder="YEARS" required><br><br>
            <label>EMPLOYE LOCATION:</label><select name="" id="">
                <option value=""></option>
                <option value="">tirupur</option>
                <option value="">coimbatore</option>
                <option value="">chennai</option>
                <option value="">salem</option>
            </select>
        </div>
    </form>
</body>
</html>