<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <div id="box">
    <a href="owner">owner<img id="owner" src="images/path-administration.png" alt="" width="200px"></a>
   
    <a href="labour">labour<img id="labour" src="images/1230197.png" alt="" width="130px"></a>

    
        
</div>
</body>
<style>

    #owner
    {

        
    }
    
    
    #labour
    {
        padding-right: 90px;
        margin-top: 20px;
    }

    #box
    {
        justify-content: space-around;
        display: flex;
        flex-direction: row;
    }
</style>


<script>
    
</script>

</html>